<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
  
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  
  <!--android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
  
   android:manageSpaceActivity=".activity.MainActivity"
       android:manageSpaceActivity=".activity.SharedPreferenceConnector"
        android:manageSpaceActivity=".activity.RegistrationActivtiy"
         android:manageSpaceActivity=".activity.QuizPageActivity"
          android:manageSpaceActivity=".activity.ConnectActivity"
           android:manageSpaceActivity=".activity.Help"
            android:manageSpaceActivity=".activity.Registration_helpActivtiy"
             android:manageSpaceActivity=".activity.Settings_helpActivtiy"
              android:manageSpaceActivity=".activity.SettingsActivity"
         
   -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
   
   

    <application
      
        android:icon="@drawable/clicker"
        android:label="@string/app_name"
        android:persistent="true" >
        <activity
            android:screenOrientation="landscape" 
             android:configChanges="keyboardHidden"
            android:name=".MainActivity"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
          <activity
              android:screenOrientation="landscape" 
               android:configChanges="keyboardHidden"
            android:name=".SharedPreferenceConnector"
            >
           
        </activity>
        
          
            <activity
                android:screenOrientation="landscape" 
                 android:configChanges="keyboardHidden"
            android:name=".RegistrationActivtiy"
            android:label="@string/app_name" >
        
        </activity>
        
            
              <activity
                  android:screenOrientation="landscape" 
                   android:configChanges="keyboardHidden"
            android:name=".QuizPageActivity"
           >
          
        </activity>
        
              
                <activity
                    android:screenOrientation="landscape" 
                     android:configChanges="keyboardHidden"
            android:name=".ConnectActivity"
           />
               <activity
          com.iitb.SettingsActivityscreenOrientation="landscape"
           android:configChanges="keyboardHidden" 
            android:name=".Help"
            />
               <activity
                   android:screenOrientation="landscape" 
                    android:configChanges="keyboardHidden"
            android:name=".Registration_helpActivtiy"
            />
           <activity
               android:screenOrientation="landscape" 
                android:configChanges="keyboardHidden"
            android:name=".Settings_helpActivtiy"
            />
       
        
                 <activity
                     android:screenOrientation="landscape" 
                      android:configChanges="keyboardHidden"
			android:name=".SettingsActivity"
			android:theme="@android:style/Theme.Dialog" android:label="settings">
		</activity>
    </application>

</manifest>